
.container {
  padding: var(--spacing-32) var(--spacing-48);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: var(--header-height);
  align-items: center;
}

.logo {
  padding-right: var(--spacing-24);
  display: flex;
  align-items: center;
  z-index: 4;
  position: relative;
}

.logo a {
  padding: 4px;
  border-radius: 4px;
}

.logoImage {
  margin-right: var(--spacing-12);
  border-radius: 4px;
  height: 30px;
  width: 30px;
  display: block;
  transition: filter var(--transition);
  filter: var(--logo-filter, none);
}

.burger {
  display: none;
  padding: var(--spacing-24);
  position: relative;
  width: var(--spacing-24);
  height: var(--spacing-24);
  border: 0;
  background: none;
  z-index: 3;
  margin-right: calc(var(--spacing-12) * -1);
}

.line {
  position: absolute;
  left: var(--spacing-12);
  right: var(--spacing-12);
  height: 2px;
  width: var(--spacing-24);
  background: var(--color-text);
  transition: opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1),
    transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.line:nth-child(1) {
  top: var(--spacing-16);
}

.line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.line:nth-child(3) {
  bottom: var(--spacing-16);
}

.rightSection {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.menu {
  display: flex;
  gap: var(--spacing-24);
  align-items: center;
}

.item {
  margin-left: var(--spacing-24);
}

.item a {
  color: var(--color-text);
  text-decoration: none;
  position: relative;
  display: block;
  padding: var(--spacing-8) var(--spacing-4);
  border-radius: 4px;
}

.item a:hover {
  background: var(--color-accent-alpha);
}

.item a.active {
  background: var(--color-accent-alpha);
  color: var(--color-accent);
}

.nav {
  display: flex;
}

.active.line:nth-child(1) {
  transform: translateY(var(--spacing-8)) rotate(45deg);
}

.active.line:nth-child(2) {
  opacity: 0;
}

.active.line:nth-child(3) {
  transform: translateY(calc(var(--spacing-8) * -1)) rotate(-45deg);
}

.active.rightSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-surface);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.active .menu {
  flex-direction: column;
  gap: var(--spacing-48);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
}

.active .item {
  margin-left: 0;
}

@media (max-width: 960px) {
  .burger {
    display: block;
  }

  .rightSection {
    opacity: 0;
    pointer-events: none;
  }

  .active.rightSection {
    opacity: 1;
    pointer-events: all;
  }

  .nav {
    margin-bottom: var(--spacing-48);
  }
}

@media (max-width: 640px) {
  .container {
    padding: var(--spacing-24);
  }

  .logo {
    padding-right: var(--spacing-16);
  }
}
